{% extends "global/base.html" %}

{% block corpoPagina %}

    <br>

    <br>

    <main class = "conteudo">
        
        <br>

            <table>

                <tr class = 'tabela-titulo'>

                    {% for cat in categoria %}
                
                        <td><p>{{cat}}</p></td>
                    
                    {% endfor %}
                
                </tr>

                {% for ven in vendas %}

                    <tr>

                       <td><p>{{ven.pk}}</p></td>

                       <td><p>{{ven.produto.nome}}</p></td>

                       <td><p>{{ven.unidadesVendidas}}</p></td>

                       <td><p>{{ven.lucroBruto}}</p></td>

                       <td><p>{{ven.gastoTescer}}</p></td>

                       <td><p>{{ven.gastoFechar}}</p></td>

                       <td><p>{{ven.gastoEncher}}</p></td>

                       <td><p>{{ven.gastoBordar}}</p></td>

                       <td><p>{{ven.gastoLinha}}</p></td>

                       <td><p>{{ven.gastoCaixinha}}</p></td>

                       <td><p>{{ven.gastoTotal}}</p></td>

                       <td><p>{{ven.lucroLiquido}}</p></td>
                       
                    </tr>
                    
                {% endfor %}

                <td><p>{{ven.pk}}</p></td>

                       <td><p></p></td>

                       <td><p></p></td>

                       <td><p>{{valor_venda}}</p></td>

                       <td><p>{{tescer}}</p></td>

                       <td><p>{{fechar}}</p></td>

                       <td><p>{{encher}}</p></td>

                       <td><p>{{bordar}}</p></td>

                       <td><p>{{linha}}</p></td>

                       <td><p>{{caixinha}}</p></td>

                       <td><p>{{total}}</p></td>

                       <td><p>{{lucro_liquido_total}}</p></td>
            
            </table>

            

    </main>

{% endblock corpoPagina %}

{% block CHART %}
<div class="conteudo">
    <canvas id="myDynamicChart"></canvas>

    <script>
        // Função para gerar dados aleatórios
        function gerarDados() {
            var data = [];
            data.push({{data_month1 | safe}});
            data.push({{data_month2 | safe}});
            data.push({{data_month3 | safe}});
            data.push({{data_month4 | safe}});
            data.push({{data_month5 | safe}});
            data.push({{data_month6 | safe}});

            return data;

            
        }

        // Criação do gráfico inicial
        var ctx = document.getElementById('myDynamicChart').getContext('2d');
        var myDynamicChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['{{month1}}', '{{month2}}', '{{month3}}', '{{month4}}', '{{month5}}',  '{{month6}}'],
                datasets: [{
                    label: 'lUCRO LIQUIDO MENSSAL',
                    data: gerarDados(),
                    backgroundColor: '#042D29',
                    borderColor: '#151716',
                    borderWidth: 1
                }]
            },
            options: {
                // Adicione opções para ajustar o tamanho do gráfico
                maintainAspectRatio: false, // Permite que o tamanho seja ajustado
                responsive: true,
                scales: {
                    y: {
                        ticks: {
                            fontSize: 100 // Altera o tamanho da fonte do eixo y
                        }
                    },
                    x: {
                        ticks: {
                            fontSize: 100 // Altera o tamanho da fonte do eixo x
                        }
                    }
                }
            }
        });
    </script>
</div>
{% endblock CHART %}