<div class="header" id = "header">
    <button onclick="toggleSidebar()" class = "btn_icon">
        <i class="bi bi-list icon"></i>
    </button>

    <div class="nagivation_header" id="nagivation_header">

        <ul>
            <a class="active" href="{% url 'Sales:Monthly' %}"><i class="bi bi-house"></i></i>Home</a>
        </ul> 
        <ul>
            <a class="active" href="{% url 'Sales:Register-Sales' %}"><i class="bi bi-clipboard"></i>Cadastro</a>
        </ul>
        <ul>
            <a class="active" href="{% url 'Sales:Modify-Menu' %}"><i class="bi bi-pencil-square"></i>Alterar</a>
        </ul>
        <ul>
            <a class="active" href="{% url 'Sales:General' %}"><i class="bi bi-table"></i>Vendas Gerais</a>
        </ul>
    </div>
</div>

<script>
    var header = document.getElementById('header');

    var navigation_header = document.getElementById('nagivation_header');

    var showSidebar = false;

    function toggleSidebar()
    {
        showSidebar = !showSidebar;

        if(showSidebar)
        {
            navigation_header.style.marginLeft = '-10vw';
            navigation_header.style.height = '100%';
        }
        else
        {
            navigation_header.style.marginLeft = '-100vw';
            navigation_header.style.height = '0px';
        }
    }
</script>