{% extends "global/base.html" %}

{% block body_page %}

<br>

<br>

    <div class = "content">
        
        <h3>Vendas Gerais</h3>

        <p>Busque as mendas menssais do mes especificado</p>

        <br>

        <div class = "content form-wrapper">

            <form
                action="{{ form_action }}"
                method="POST"
                enctype="multipart/form-data"
            >

                {% csrf_token %} 
                {% comment %} segurança, literalmente segurança dos dados {% endcomment %}

                <div class="form-content">

                    {% for field in form %}

                    <div class="form-group">

                        <label for="{{ field.id_for_label }}"><p>{{ field.label }}</p></label>
                        {{ field }}

                    </div>

                    {% endfor %} 

                </div>

                <br>

                <br>

                <div class="form-content form-group">

                    <button class="btn" type="submit">{{ title }}</button>

                </div> 

            </form>

        </div>

    </div>

{% endblock body_page %}