{% extends "global/base.html" %}

{% block body_page %}

    <br>

    <br>

    <main class = "content">
        
        <br>

            <table>

                <tr class = 'table-title'>

                    {% for cat in categories %}
                
                        <td><p>{{cat}}</p></td>
                    
                    {% endfor %}
                
                </tr>

                {% for s in sales %}

                    <tr>

                       <td><p>{{s.pk}}</p></td>

                       <td><p>{{s.product.name}}</p></td>

                       <td><p>{{s.unitsSold}}</p></td>

                       <td><p>{{s.grossProfit}}</p></td>

                       <td><p>{{s.spentWeaving}}</p></td>

                       <td><p>{{s.spentClose}}</p></td>

                       <td><p>{{s.spentFiling}}</p></td>

                       <td><p>{{s.spentEmbroider}}</p></td>

                       <td><p>{{s.spentLine}}</p></td>

                       <td><p>{{s.spentBox}}</p></td>

                       <td><p>{{s.totalCost}}</p></td>

                       <td><p>{{s.netProfit}}</p></td>
                       
                    </tr>
                    
                {% endfor %}

                <td><p>{{s.pk}}</p></td>

                       <td><p></p></td>

                       <td><p></p></td>

                       <td><p>{{sale_value}}</p></td>

                       <td><p>{{weave}}</p></td>

                       <td><p>{{close}}</p></td>

                       <td><p>{{fill}}</p></td>

                       <td><p>{{embroider}}</p></td>

                       <td><p>{{line}}</p></td>

                       <td><p>{{box}}</p></td>

                       <td><p>{{total}}</p></td>

                       <td><p>{{total_net_profit}}</p></td>
            
            </table>

            

    </main>

{% endblock body_page %}

{% block CHART %}
<div class="content">
    <canvas id="myDynamicChart"></canvas>

    <script>
        // Função para gerar dados aleatórios
        function generateData() {
            var data = [];
            data.push({{data_month1 | safe}});
            data.push({{data_month2 | safe}});
            data.push({{data_month3 | safe}});
            data.push({{data_month4 | safe}});
            data.push({{data_month5 | safe}});
            data.push({{data_month6 | safe}});

            return data;

            
        }

        // Criação do gráfico inicial
        var ctx = document.getElementById('myDynamicChart').getContext('2d');
        var myDynamicChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['{{month1}}', '{{month2}}', '{{month3}}', '{{month4}}', '{{month5}}',  '{{month6}}'],
                datasets: [{
                    label: 'lUCRO LIQUIDO MENSSAL',
                    data: generateData(),
                    backgroundColor: '#042D29',
                    borderColor: '#151716',
                    borderWidth: 1
                }]
            },
            options: {
                // Adicione opções para ajustar o tamanho do gráfico
                maintainAspectRatio: false, // Permite que o tamanho seja ajustado
                responsive: true,
                scales: {
                    y: {
                        ticks: {
                            fontSize: 100 // Altera o tamanho da fonte do eixo y
                        }
                    },
                    x: {
                        ticks: {
                            fontSize: 100 // Altera o tamanho da fonte do eixo x
                        }
                    }
                }
            }
        });
    </script>
</div>
{% endblock CHART %}